
/***********************************************/
/* HTML tag styles                             */
/***********************************************/


/* CSS Reset   
----------------------------------------------------------*/ 
 table 
{
	border-collapse: collapse;
	border-spacing: 0;
	
}  


.main1
{

	 position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

/* Table style  
----------------------------------------------------------*/
table.tbl1
{
	width: 100%;
}

table.tbl1 thead
{
	background: #A3C2EA url('../images/tbl_head_bg.png') repeat-x scroll 0 0;
	color: #333;
	width: 100%;
	border: 1;
}

table.tbl1 tbody
{
	width: 100%;
}

table.tbl1 tr td,
table.tbl1 tr th
{	
	border: solid 1px #888;
	margin: 0;
	padding: 4px 0;
}
table.tbl1 tr th
{
	font: normal 100% 5% Calibri;
	font-size : 6;
}
table.tbl1 tr td
{
	font-family: Calibri;
	font-size: 11pt;
	color: #000000;
	font-weight: normal;
	text-align: center;
	background-color: #fff;
	color: #444;
}

table.tbl1 tbody tr.alt td
{
	background-color: #e4ecf7;
}

table.tbl1 tr.over td,
table.tbl1 tbody tr.alt.over td
{
	background-color: #bcd4ec;
	color: #000;
}

table.tbl1 a
{
	color: #2a4a73;
	text-decoration: underline;
}

table.tbl1 a:hover
{
	text-decoration: none;
}

table.tbl1 a:visited
{
	color: #000000;
}

/* Define column widths 
----------------------------------------------------------*/
table.tbl1 td.1
{	
	width: 50px;
}
table.tbl1 td.2
{	
	width: 210px;
}
table.tbl1 td.3
{	
	width: 270px;
}
table.tbl1 td.4
{	
	width: 210px;
}
table.tbl1 td.5
{	
	width: 210px;
}
table.tbl1 td.testSt1
{	
	width: 200px;
}
table.tbl1 td.testSt2
{	
	width: 200px;
}
table.tbl1 td.testSt3
{	
	width: 275px;
}
table.tbl1 td.testSt4
{	
	width: 275px;
}
table.tbl1 td.testSt11
{	
	width: 225px;
}
table.tbl1 td.testSt12
{	
	width: 225px;
}
table.tbl1 td.testSt13
{	
	width: 225x;
}
table.tbl1 td.uia1
{	
	width: 50px;
}
table.tbl1 td.uia2
{	
	width: 300px;
}
table.tbl1 td.uia3
{	
	width: 343px;
}
table.tbl1 td.gsm1
{	
	width: 50px;
}
table.tbl1 td.gsm2
{	
	width: 300px;
}
table.tbl1 td.gsm3
{	
	width: 300px;
}
table.tbl1 td.gsm4
{	
	width: 300px;
}
table.tbl1 td.vs1
{	
	width: 100px;
}
table.tbl1 td.vs2
{	
	width: 650px;
}
table.tbl1 td.itemTab1
{	
	width: 50px;
}
table.tbl1 td.itemTab2
{	
	width: 400px;
}
table.tbl1 td.itemTab3
{	
	width: 300px;
}
table.tbl1 td.itemTab11
{	
	width: 50px;
}
table.tbl1 td.itemTab12
{	
	width: 700px;
}

-------------------header fix--------------------------------*/


html,body{	
	font-family: Calibri;
	 background-color:#F5F1F1;
	color: #333333;
	height:100%;
	margin: 0px;
	padding: 0px;
	/* text-align: center; */
	background: #F5F1F1;
}

/* select{
	width: 15px;
	background-color: #726E6E;
} */

.background {
	background: #99ccff url("../images/bg_grad.jpg") fixed;
}

.loginTable {
	border-left: 1px solid #aaaabb;
	border-right: 1px solid #aaaabb;
	border-bottom: 1px solid #aaaabb;
	border-top: 1px solid #aaaabb;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 10px;
    border-collapse: separate;
	border-spacing: 1;
}

.main{
	background-color: #F0F8FF;
}

.loginWhiteBox {
	width: 85%;
	height:40%;
	text-align:left;
	background:#FFFFFF;
	margin:0 auto; 
}

.whiteBox {
	width: 90%;
	height:700px;
	text-align:left;
	background:#ffffff;
	margin:0 auto; 
}
.whiteBoxHm {
	width: 90%;
	text-align:left;
	background:#ffffff;
	margin:0 auto; 
}

.whiteBoxHome {
	width: 91.2%;
	height:70%;
	text-align:left;
	background:#F5F1F1;
	/* margin:0 auto;  */
	margin-top:0px;padding-top:0px;top: 0px;
}

.whiteBox1 {
	width: 100%;
	height:100%;
	text-align:center;
	background:#ffffff;
	margin:0 auto; 
	color: #000000;
}

.centerBorder{
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	
}

.leftBorder{
	border-left: 1px solid #cccccc;
}
.rightBorder{
	border-right: 1px solid #cccccc;
}

/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #000000;
	text-decoration: none;
}

a.logout:link, a.logout:visited{
	color: #000000;
	text-decoration: none;
}

a.logout:hover{
	color: #000000;
	text-decoration: underline;
}

a.plus:link, a.plus:visited{
	color: #000000;
	font-size: 9;
	text-decoration: none;
}

a:hover{
	color: #244690;
}

/************** header tag styles **************/

h1{
 font: bold 120% Helvetica;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 114% Helvetica;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 font: bold 100% Helvetica;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h4{
 font: 100% Helvetica;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
	font: 100% Helvetica;
	color: #334d55;
	margin: 0px;
	padding: 0px;
}
.textStyle {
	font: 97% Arial;
	color: #000000;
	margin: 0px;
	padding: 0px;
	text-align=center;
}

.textStyle1 {
	font: 97% Arial;
	color: #0000FF;
	margin: -5px;
	padding: -5px;
	text-align=center;
}

.textStyle3 {
	font: 97% Arial;
	color: #0000FF;
	margin: 0px;
	padding: 0px;
	text-align=center;
}

.textStyle4 {
	font:85% Arial;
	color: #0000FF;
	margin: -5px;
	padding: -5px;
	text-align=center;
}

.heading {
	font:85% Arial;
	color: #ffffff;
	text-align:left;
	background: #726E6E;
	margin: 0px;
	padding: 2px;
}

.tableHeader{
	font: normal 100% 5% Calibri;
	font-size : 6;
	background:#dddddd;
	color: #000000;
	border-style:solid; 
	border-width:0px; 
    border-color:#483d8b;
     /* z-index: 99; */
     margin: 0px;
     cellpadding:0px;
     cellspacing:0px;
     

}

.tableHeaderEnv{
	 font: normal 100% 5% Calibri;
     background:#A3C2EA url('../images/tbl_head_bg.png') repeat-x scroll 0 0;
	 font-size : 6;
		
}

.tableHeader2{
	font: normal 100% 5% Calibri;
	font-size : 6;
	background:#dddddd;
	color: #000000;
	border-style:solid; 
	border-width:0px; 
    border-color:#483d8b;
     /* z-index: 99; */
     margin: 0px;
     cellpadding:0px;
     cellspacing:0px;
     /* width: 3%; */
     white-space: normal;

}
.tableHeader1{
	font: normal 100% 5% Calibri;
	font-size : 6;
	background:#dddddd;
	color: #000000;
	border-style:solid; 
	border-width:0px; 
    border-color:#483d8b;
     /* z-index: 99; */
     margin: 0px;
     cellpadding:0px;
     cellspacing:0px;
     /* width: 3%; */
     white-space: normal;

}

.loginStyle {
	font: Arial;
	font-size:10pt;
	color: 	#808080;
	margin: -5px;
	padding: -5px;
	text-align=left;
}

/*Class for locking Scrollbar*/
.lockScrollTop{
    position:relative; 
    cursor: default;
    /*IE5+ only*/
    TOP: expression(document.getElementById("dataDiv").scrollTop);
    /* z-index: 1;  */
}
.lockScrollTop1{
    position:relative;
    cursor: default;
    /*IE5+ only*/
    TOP: expression(document.getElementById("itemDiv1").scrollTop);
    /* z-index: 1; */
}

.wrapSpan {
	white-space: normal;
}

.scrollBarNew {
	height:350px; 
 	/*overflow-y: auto*/
 	overflow-y: scroll;
}

.scrollBarNew1 {
	height:300px; 
 	/*overflow-y: auto*/
 	overflow-y: scroll;
}
.scrollBarBoth {
	height: 400px;
	width: 1100px;
	overflow-x: scroll;
	overflow-y: scroll;  
}
.scrollBarUIA {
	width:610px;	
	height:208px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.scrollBarConfrm {
	height: 100px;
 	/*overflow-y: auto;*/ 
 	overflow-y: scroll;  
}

.scrollBarConfrm1 {
	height: 230px;
 	/*overflow-y: auto;*/ 
 	overflow-y: scroll;  
}

.scrollBarFull {
	height:630px;  
 	/*overflow-y: scroll*/
 	overflow-y: auto;
}

/********* form and related tag styles *********/

form {
	margin: 0;
	padding: 0;
}

label{
 font: bold 1em Helvetica;
 color: #334d55;
}
				
input{
font-family: Helvetica;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#tr {
	position:absolute;
	top: -1px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

/***********************************************/
/* Component Divs                              */
/***********************************************/


/**************** font styles *****************/

.login{
	font-family:arial;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
	cellpadding:0px;
	cellspacing:0px;
}

.tableFont1{
	font-family: Calibri;
	font-size: 11pt;
	color: #000000;
	font-weight: normal;
	background:#F8F8F8;
	
}
	
.tableFont2{
	font-family: Calibri;
	font-size: 11pt;
	color: #000000;
	font-weight: normal;
	background:#F8F8F8;
	text-align: left;
	/* width: 3%; */
	white-space: normal;
}
.tableFont3{
	font-family: Calibri;
	font-size: 11pt;
	color: #000000;
	font-weight: normal;
	background:#F8F8F8;
	/* width: 3%; */
	white-space: normal;
}
.header1{
	font-family: Helvetica;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
}

.inputField {  	
	font-family: Helvetica; 
	border:1px solid #AFC7C7;
	height:18px;
    font-size:8pt;
    width : 127px;
}

.button {  	
	font-family: Helvetica; 
	border:1px solid #EEEEE;
	height:23px;
    font-size:9pt;
    width :63px;
    
}

.buttonValidSet {  	
	font-family: Helvetica; 
	border:1px solid #EEEEE;
	height:23px;
    font-size:9pt;
    width :80px;
    
}

.buttonLogin {  
	
	font-family: arial; 
	border:1px solid #EEEEE;
	height:23px;
    font-size:9pt;
    width : 63px;
   /*   background-color: #36648B; 
    background-color: #4981CE; */
}


.button1 {  	
	font-family: Helvetica; 
	border:1px solid #EEEEE;
	height:23px;
    font-size:9pt;
    width :100px;
}

.dynamicDropdowns{
	font-family: Helvetica; 
	border:1px solid #999999;
	height:18px;
    font-size:9pt;
}

.envTbl{
	font-family: Helvetica; 
    font-size:11pt;
}

.table1 {
	text-align: left;
	font-size: 12px;
	font-family: Helvetica;
	background: #f0f0f0;
}
	
.error{
	font-size: 11;
	color: #FF0000;
	font-weight: bold;
	list-style: none;
	text-align: center;
	margin-left: 110px;
}

.linkstyle{
	font-size: 11;
	color: #0000FF;
	font-weight: bold;
	list-style: none;
}
.heading {
 font: bold 100% Helvetica;
 color: #334d55;
 margin: 0px;
 padding: 0px;
 white-space: nowrap;
 background-color: #ffffff;
 text-align: center; 

}
/***********************loader**************************/

.headerLoader{
	font-family: Helvetica;
	font-size: 14px;
	color: #0000FF;
	font-weight: normal;	
	
}

.overlay {
   	position: fixed;
  	height: 100%;
  	width: 100%;
  	z-index: 9999; 
  	background: #D0D0D0 ;
  	opacity:0.6;
  	filter:alpha(opacity=60);
}
.overlay1 {
 	opacity:1.0;
 	z-index: 99999; 
	filter:alpha(opacity=100);
}
.loadTab {
	border-width:4px; 
	border-style:ridge;
	background-color: #ffffff;
}
/***********************header**************************/
ul.topnav {
	list-style: none;
	padding: 0 2px;	
	margin: 0;
	float: left;
	width: 920px;
	height: 35px;
	/* background: #726E6E; */
	font-size: 1.0em;
	background: url() repeat-x;
}
ul.topnav li {
	float: left;
	/* margin: 0; */	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	margin-left: 20px;
	z-index: 99;
}
ul.topnav li a{	
	font-family: Arial;
    font-size: 14px;
	padding: 10px 5px;
	color: #000000;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	/* background: url(topnav_hover.gif) no-repeat center top; */
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 0px;
	height: 35px;
	float: left;
	/* background: url("../images/paint1.jpg") no-repeat center center; */
}
/* ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} --Hover effect for trigger-- */
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #726E6E;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 160px;
	z-index: 99;
	/* border: 1px solid #111; */
}
ul.topnav li ul.subnav li{
	/* border-top: 1px solid #252525;  *//*--Create bevel effect--*/
	/* border-bottom: 1px solid #444;  *//*--Create bevel effect--*/
	clear: both;
	width: 170px;
	padding-top: 0px;
	padding-bottom: 0px;	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	top: 0px;
	bottom: 0px;
}
html ul.topnav li ul.subnav li a {
	font-family: Arial;
    font-size: 12px;
	float: left;
	width: 150px;
	text-align: left;
	background: #726E6E url(tree-closed.gif) no-repeat 10px center;
	color: #ffffff;
	padding-top: 0px;
	padding-bottom: 3px;	
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 0px;
	margin-left: 0px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	/* background: #222 url(tree-closed.gif) no-repeat 10px center;  */
	font-size: 13px;
}
ul.ui-menu {
	background: blue;
}
li.ui-menu-item {
	background: blue;
}



/********************* end **********************/

