<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
 <session-factory>

    <!-- This will drop our existing database and re-create a new one.
    		Existing data will be deleted! -->
	    <property name="hbm2ddl.auto">Update</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/socialcommunity</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping class="com.socialcommunity.domain.Person"></mapping>
        <mapping class="com.socialcommunity.domain.Post"></mapping>
        <mapping class="com.socialcommunity.domain.Comment"></mapping>
    </session-factory>
</hibernate-configuration>
